* {
  text-decoration: none;
  list-style: none;
}

.admin-left-header {
  width: 400px;
  min-width: 250px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-left-header .admin-logo img {
  width: 100px;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 20px;
}

.admin-left-header .admin-person{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.admin-left-header .admin-person h5{
  padding-top: 10px;
  color: #656565;
}

.admin-left-header .panel{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  height: 40vh;
  justify-content: center;
  
}
.admin-left-header .panel ul li {
  margin-bottom: 18%;
  background-color: #ebebebd8;
  padding: 9px 28px 9px 28px;
  text-align: center;
  border-radius: 10px;
  font-size:15px;
  transition: 200ms;
 
  
}
.admin-left-header .panel ul li:hover{
  
  background-color: #c2c2c2f9;
}
.admin-left-header .panel ul li a h4{
  color: black;
}



.admin-left-header .admin-exit button {
  background-color: #787878;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
}
.admin-left-header .admin-exit button:hover {
 background-color: black;
  color: white;
}