.register-container {
  display: flex;
  width: 600px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 800px;
}
.register-container .register-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600;
  height: 600px;
  text-align: center;
  margin-top: 70px;
}
.register-container .register-left input {
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 19px;
}
.register-container .register-left h3 {
  padding-bottom: 30px;
  color:white;
}
.register-container .register-left h4 {
  text-align: center;
  color: black
}
.register-container .register-left button {
  margin-bottom: 35px;
  margin-top: 15px;
  width: 200px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.854);
  border-radius: 5px;
  border: 3px solid rgb(30, 144, 169);
  transition: 200ms;

}
.register-container .register-left button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  transform: scale(1.05);
}
.register-container .register-right img {
  width: 300px;
}
.register-container .register-left h4{
  color:rgba(255, 255, 255, 0.68);
}
.register-container .register-left h4 a{
  color: rgb(255, 255, 255);
}