
.admin-control{
display:flex;
margin: 0 auto;
margin-top: 70px;
width: 90%;
background-color: rgb(226, 226, 226);
border-radius: 30px;


}

.edit-container{
    background-color:rgba(255, 255, 255, 0.992);
    width: 100%;
    border-radius: 0 20px 20px 0;
    padding-left: 70px;
    padding-top:50px ;
    padding-right: 70px;
    border-radius: 30px;
   
}

.admin-top-header{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;

}
.admin-top-header .select-model{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-top-header .select-model select{
    margin-top: 15px;
    width: 180px;
    font-size: 21px;

}
.admin-top-header button{
    height: 30px;
    width: 120px;
    color: black;
    font-weight: 500;
    border: 0.5px solid #0077ff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.admin-top-header button:hover{
    background-color: #0077ff;
    border: none;
    color:white;
}

